<div class="container-fluid">
    <h1>Techniciens :</h1>
    <div class="card-group">
    ###LIST###
    </div>
    <div>
        <h1>Connexions :</h1>
        <div>
            <ul>
                ###CONN###
            </ul>
        </div>
    </div>

    <div class="mt-2 d-flex align-items-end flex-column">
        <div class="p-2">
            <a class="btn btn-primary" id="button_add" href="/addtech">Ajouter un tech</a>
            <a class="btn btn-danger" id="button_logout" href="/logout">Se déconnecter</a>
        </div>
    </div>
</div>