<script>
    window.onload = function () {
        var conn;
        var clientIndex = 0;
        var client = "";
        var clients = [];
        let msg = document.getElementById("msg");
        var chat = document.getElementById("chat");
        var log = document.getElementById("log");
        var mapConv = new Map();

        function loadChat() {
            let arrayChat = mapConv.get(client);
            chat.innerHTML = "";
            if (arrayChat) {
                for (let i = 0; i < arrayChat.length; i++) {
                    let text = arrayChat[i];
                    let msg = document.createElement("div");

                    if (text.includes("Vous:")) {
                        msg.className = "d-flex flex-row-reverse";
                        msg.innerHTML = "<div class='card bg-primary text-white fs-5 mb-1 p-2 '><b>" + arrayChat[i] + "</b></div>";
                    } else {
                        msg.className = "d-flex flex-row";
                        msg.innerHTML = "<div class='card bg-secondary text-white fs-5 mb-1 p-2'><b>" + arrayChat[i] + "</b></div>";
                    }

                    appendChat(msg);
                }
            }
        }

        document.getElementById("form").onsubmit = function () {
            if (!conn) {
                return false;
            }
            if (!msg.value) {
                return false;
            }
            if (client === "" && clients.length > 0) {
                client = clients[0];
            }

            let strMsg = JSON.stringify({id: "tech", textMsg: msg.value, destId: client});

            conn.send(strMsg);
            let array = mapConv.get(client);
            array.push("Vous: " + msg.value);
            mapConv.set[client] = array;
            msg.value = "";
            loadChat();
            return false;
        };

        function appendLog(item) {
            var doScroll = log.scrollTop > log.scrollHeight - log.clientHeight - 1;
            log.appendChild(item);
            if (doScroll) {
                log.scrollTop = log.scrollHeight - log.clientHeight;
            }
        }

        function appendChat(item) {
            var doScroll = chat.scrollTop > chat.scrollHeight - chat.clientHeight - 1;
            chat.appendChild(item);
            if (doScroll) {
                chat.scrollTop = chat.scrollHeight - chat.clientHeight;
            }
        }

        conn = new WebSocket("ws://" + document.location.host + "/techWS");
        conn.onclose = function (evt) {
            var item = document.createElement("div");
            item.innerHTML = "<b>Connection closed.</b>";
            appendLog(item);
        };
        conn.onmessage = function (evt) {
            let messages = JSON.parse(evt.data);

            if (!mapConv.has(messages.id)) {
                clientIndex++;
                clients.push(messages.id);
                mapConv.set(messages.id, ["Client: " + messages.message]);
                let btn = document.createElement("button");
                btn.textContent = "Client " + clientIndex.toString();
                btn.id = "btn-" + messages.id;
                btn.className = "btn btn-warning mt-2";
                btn.addEventListener("click", function () {
                    client = messages.id;
                    loadChat()
                });
                document.getElementById("clients").appendChild(btn);
                if (client === "" && clients.length > 0) {
                    client = clients[0];
                }
            } else {
                let array = mapConv.get(messages.id);
                array.push("Client: " + messages.message);
                mapConv.set(messages.id, array);
                if (client === messages.id) {
                    loadChat();
                }
            }
        };
    };
</script>
<div class="container-fluid d-flex flex-column h-100">
    <div class="text-center flex-grow-0 row">
        <h1>Clavardage du CAI</h1>
    </div>
    <div class="row flex-grow-1">
        <div class="col-3 h-100" id="client-container" style="border-right: 1px gray solid">
            <div class="d-flex flex-column h-100">
                <div class="flex-grow-0">
                    <h2>Clients</h2>
                </div>
                <div class="flex-grow-1" id="clients">

                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="d-flex flex-column h-100">
                <div class="flex-grow-0" id="message-form">
                    <div class="flex-grow-1" id="chat">

                    </div>
                    <div id="log" class="container-fluid"></div>
                    <form class="d-flex" id="form">
                        <div class="flex-grow-1 me-2">
                            <input placeholder="Message" id="msg" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm rounded-circle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-cursor-fill" viewBox="0 0 16 16" style="position:relative;bottom:2px;">
                                <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"/>
                            </svg>
                        </button>
                    </form>
                    <a class="btn btn-danger mt-2" id="button_logout" href="/logout">Quitter</a>
                </div>
            </div>
        </div>
    </div>
</div>